@using Aplicacion_Aboga2.Models
@model Contacto
@{
    {
        ViewBag.Title = "ABMContactos";
    }

    <h2>ABMContactos</h2>


    @Html.ActionLink("Volver atras", "Menu", "Backoffice")

    using (Html.BeginForm("FormContactos", "Backoffice", FormMethod.Post))
    {
        <th>@Html.ActionLink("Insertar Contacto", "InsertarContacto", "Backoffice", new { Accion = "Insertar" }, null)</th>
        <table>
            @foreach (Contacto contacto in ViewBag.Contactos)
            {
            <tr>
                <td>@contacto.Nombre<br /></td>
                <td>@contacto.Apellido<br /></td>
                <td>@contacto.NumTelefono</td>
                <td>@(contacto.Estado == true ? "Activo" : "Inactivo")</td>
                <td>@Html.ActionLink("Eliminar ", "FormContacto", "Backoffice", new { Accion = "Eliminar", IdCont = contacto.IdContacto }, null)</td>
                <td>@Html.ActionLink("Modificar ", "FormContacto", "Backoffice", new { Accion = "Obtener", IdCont = contacto.IdContacto }, null)</td>
                <td>@Html.ActionLink("Ir a Eventos", "ABMEventos", "Backoffice", new { Accion = "Agregar", IdCont = contacto.IdContacto, IdEx =0 }, null)</td>
            </tr>
            }
        </table>

    }
}




