@using Aplicacion_Aboga2.Models
@model Expediente
@{
    {
        ViewBag.Title = "ABMExpedientes";
    }

    <h2>ABMExpedientes</h2>

    @Html.ActionLink("Volver atras", "Menu", "Backoffice")

    using (Html.BeginForm("FormExpediente", "Backoffice", FormMethod.Post))
    {
        <th>@Html.ActionLink("Insertar Expediente", "InsertarExpediente", "Backoffice", new { Accion = "Insertar" }, null)</th>
        <table>
            @foreach (Expediente ex in ViewBag.Expedientes)
            {
            <tr>
                <td>@ex.NumeroExpediente</td>
                <td>@ex.Descripcion</td>
                <td>@ex.Caratula</td>
                <td>@(ex.Estado == 1 ? "Iniciado" : "Terminado")</td>
                <td>@Html.ActionLink("Eliminar ", "FormExpediente", "Backoffice", new { Accion = "Eliminar", IdEx = ex.IdExpediente }, null)</td>
                <td>@Html.ActionLink("Modificar ", "FormExpediente", "Backoffice", new { Accion = "Obtener", IdEx = ex.IdExpediente }, null)</td>
                <td>@Html.ActionLink("Mirar Fojas ", "ABMExpedienteFojas", "Backoffice", new { Accion = "Mirar", IdEx = ex.IdExpediente }, null)</td>
                <td>@Html.ActionLink("Agregar Archivos", "FormExpediente", "Backoffice", new { Accion = "Agregar", IdEx = ex.IdExpediente }, null)</td>
                <td>@Html.ActionLink("Ir a Eventos", "ABMEventos", "Backoffice", new { Accion = "Agregar", IdEx = ex.IdExpediente, IdCont =0}, null)</td>
            </tr>                
            }
        </table>
       
    }
}
