@using Aplicacion_Aboga2.Models
@model ExpedienteFojas
@{
    ViewBag.Title = "Edicion Fojas";
}
<html>
<body>

    <h2>Edicion Fojas</h2>
    <button id="btnAtras">Volver atras</button>
    <br />

    <br />

    <table>
        @using (Html.BeginForm("EdicionExpedienteFojas", "Backoffice", FormMethod.Post))
        {

            @Html.HiddenFor(x => x.IdFojas)
            @Html.HiddenFor(x => x.IdExpediente)


            <tr>
                <td> @Html.Label("Fecha De Inicio")</td>
                <td> @Html.TextBoxFor(x => x.FechaInicio, "{0:yyyy-MM-dd}", new { @id = "FechaInicio", type = "date", @required = "required"})</td>
            </tr>
            <tr>
                <td> @Html.Label("Fecha de Fin")</td>
                <td> @Html.TextBoxFor(x => x.FechaFin, "{0:yyyy-MM-dd}", new { @id = "FechaFin", type = "date", @required = "required" })</td>
            </tr>
          
            <tr>
                <td> @Html.Label("Estado Especifico")</td>
                <td> @Html.TextBoxFor(x => x.EstadoEspecifico, new { @required = "required"})</td>
            </tr>
            <tr>
                <td> @Html.Label("Descripcion")</td>
                <td> @Html.TextBoxFor(x => x.Descripcion, new { @required = "required" })</td>
            </tr>

            <input type="hidden" value="@ViewBag.Accion" name="Accion" />
            <input type="submit" value="ModificarFojas" />
        }
    </table>

</body>
</html>
<script>
    $(document).ready(function () {
        $("#btnAtras").click(function () {
            window.history.back();
        });
        $('form').submit(function (e) {
            let fechaInicio = new Date($("#FechaInicio").val());
            let fechaFin = new Date($("#FechaFin").val());
            if (fechaInicio >= fechaFin) {
                alert("Error");
                e.preventDefault();
            } else {
                alert("Exito");
            }
        });
    });
</script>
